*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
a{
	text-decoration: none;
	color: #ffff;
}

.main-slidebox{
	position: absolute;
	width: 100%;
	height:50%;
	/*background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,*/
		/*#00ff00,#ffff00,#ff0000);*/
	background: url(../../imgs/3.jpg);
	background-size: 200%; 
	/*box-shadow: inset 00px 1000px 1000px rgba(0,0,0,.1);*/
	animation: ani 20s linear infinite;
	filter: blur(100px);
	z-index: -1;

}
@keyframes ani{
	0%{
		background-position: 0 0;
	}
		50%{
		background-position: 100% 0;
	}
		100%{
		background-position: 0 0;
	}
}
nav{
	width: 100%;
	position: fixed;
	height: 100px;
	background: rgba(0,0,0,0);
	box-sizing: border-box;
	z-index: 900;
}
nav .nav{
	width: 70%;
	position: relative;
	height: 50px;
	margin: 0 auto;
	display: flex;
	line-height: 50px;
	top: 50%;
	transform: translateY(-50%);
	/*padding: 25px 0;*/
}
.nav .title{
	margin-right: 40px;
	color: white;
}
.nav ul{
	display: flex;
	list-style: none;
}
.nav ul li{
	margin: 0 20px;
}
.nav ul li a{
	color: rgba(255,255,255,.5);
	transition: .3s all;
}
.nav ul li:last-child a{
	color: white;
}
.nav ul li a:hover{
	color: white;
}
.nav .search{
	position: relative;
	display: flex;
	left: 250px;
	
}
.nav .search div:first-child{
	margin: 0 10px;
	font-family: serif;
	color: white;
	font-weight: 600;
	text-shadow: 1px 1px 2px grey;
}
.nav .search div:first-child::before{
	content: '+';
	font-family: FontAwwesom;
	color: white;
	margin: 0 2px;
	font-size: .8em;
}	
.nav .search div:first-child::after{
	content: 'ss';
	font-family: FontAwwesom;
	color: white;
	margin: 0 10px;
}	
.nav .search .search-bar{
	position: relative;
	/*top: 20px;*/
	width: 200px;
	/*height: 30px;*/
	background:rgba(355,355,355,.4);
	border-radius: 5px;
	outline: none;
	padding: 0 20px 5px 20px;
	color: white;
	top: 5px;
	height: 45px;
}
.search-bar input{
	/*height: 0px;*/
	width: 80%;
	background: transparent;
	border: none;
	outline: none;
	color: white;
}
.nav .search .search-bar::before{
	content: 'ss';
	color: white;
	padding: 10px;
	position: relative;
	color: rgba(255,255,255,.6);
}

.heading
{
	position: relative;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	/*text-align: center;*/
	/*line-height: 400px;	*/
}
.heading h1{
	position:absolute;
	top: 50%;
	left: 50%;
	font-size: 5em;
	margin: 0;
	padding: 0 20px;
	font-family: sans-serif;
	transform: translate(-50%,-50%);
	text-shadow: 0 5px 5px rgba(0,0,0,.5);
	/*text-transform: uppercase;*/
	border: 5px solid rgba(300,300,300,.1);
	/*border-top: none;*/
	color: white;
	background: linear-gradient(40deg,red,orange,yellow,#f2c531);
	background-size: 400%;
	animation: a 10s linear infinite; 
	border-radius: 50px;
	box-shadow: 0 10px 20px rgba(0,0,0,.4);
	/*filter: blur(10px);*/
}
@keyframes a{
	0%{background-position:  0 0%;}
	50%{background-position:  300% 0%;}
	100%{background-position:  0 0%;}
}

h1 span{
	position: relative;
	display: inline-block;
}
h1 span:nth-child(4){
	color: rgba(210,210,210);
	animation: jump 3s alternate infinite;
}
@keyframes jump{
	0%{transform: translateY(0) rotate(0deg);}	
	40%{transform: translateY(0) rotate(0deg);}	
	50%{transform: translateY(-100px)rotate(180deg);}
	60%{transform: translateY(0) rotate(360deg);}		
	100%{transform: translateY(0)rotate(360deg);}	
}

h1:hover span{
	animation: jump 3s alternate infinite;
	cursor: pointer;
}
h1:hover span:nth-child(1){
	animation-delay: 0.4s;
}
h1:hover span:nth-child(2){
	animation-delay: 0.6s;
}
h1:hover span:nth-child(3){
	animation-delay: 0.2s;
}
h1:hover span:nth-child(5){
	animation-delay: 0.5s;
}
h1:hover span:nth-child(6){
	animation-delay: 0.1s;
}
h1:hover span:nth-child(7){
	animation-delay: 0.3s;
}



 /*Main-content-box*/

.main-content{
	position: relative;
	width: 80%;
	margin: 10px auto;
	background: rgba(200,200,200,.6);
	box-shadow: 0px -10px 50px rgba(0,0,0,.3);
	border-radius: 20px;
	padding: 50px;
}
.main-content a{
	color: black;
}
.main-content .art-box{
	width: 60%;
	margin-right: 20px;
	float: left;
	height: 400px;
	overflow:hidden;
	margin-top: 10px;
}
.main-content .art-box:hover .card{
	top: -60%;
}
.art-box img{
	width: 100%;
	height: 100%;
}
.art-box.box2 ,.art-box.box3{
	width: 30%;
	height: 200px;
	margin-bottom: 10px;
}
.art-box.box2 .card,.art-box.box3 .card{
	top: -150px;
	font-size: .8em;
}
.art-box.box4{
	width: 92%;
	float: none;
	height: 500px;
}
.art-box .card{
	position: relative;
	width: 80%;
	margin: 0 auto;
	top: -40%;
	height: 300px;
	box-sizing: border-box;
	padding: 20px;	
	background: white;
	transition: .5s;
}
.card h3{
	margin: 10px 0;
}
.card p{
	font-size: .9em;
	color: #8d8d8d;
}
.footer{
	position: relative;
	width: 100%;
	height: 200px;
	background-color:#1f1f1f;
	top: 200px;
}

.footer .leftside{
	text-align: center;
	width: 70%;
	float: left;
	height: 100%;
	box-sizing: border-box;
}
.footer .upper{
	height: 80%;
	color: white;
	box-sizing: border-box;
}
.footer .upper h1{
	margin-top: 20px;
	box-sizing: border-box;
}
.footer .upper ul{
	width: 25%;
	position: relative;
	list-style: none; 
	display: flex;
	margin: 10px auto 0 auto;
	box-sizing: border-box;
}
.footer .upper li{
	width: 30px;
	height: 30px;
	margin: 0 10px;
	border-radius: 100%;
	transition: .3s all;
	line-height: 30px;
	box-sizing: border-box;

	border: 1px solid #1f1f1f;
}
.footer .upper li a{
	font-size: 1.5em;
	/*margin: 0 20px;*/
	transition: .3s all;
	color: rgba(200,200,200,.8);
}
.footer .upper li:hover a{
	color: white;
}
.footer .upper li:hover{
	font-size: .6em;
	transform: scale(1.2,1.2);
	/*border: 1px solid rgba(200,200,200,.8);*/
	box-shadow: inset 0 0 10px rgba(0,0,0,.7);
}
.footer .lower{

	position: relative;
	font-size: .7em;
	color: rgba(200,200,200,.5);
	letter-spacing: 2px;
}
.footer .subscribe{
	float: left;
	width: 24%;
	height: 100%;
	background: black;
	margin-left: 15px;
	color: white;
	padding: 40px 20px;
	box-sizing: border-box;
}
.footer .subscribe h3{
	margin: 10px 0;
	font-weight: 100;
	letter-spacing: 2px;
	font-family: cursive;
	width: 20px;
	border-bottom: 2px solid white;
	transition: 1s;
}
.footer .subscribe:hover h3{
	width: 100px;
	border-color: seagreen;
}
.footer .subscribe .email{
	margin-top: 20px;
	width: 200px;
	border-bottom: 1px solid grey;
	height: 30px;
}
.email input{

	height: 30px;
	background: transparent;
	outline: none;
	border: none;
	width: 160px;
	color: white;
	font-size: .8em;
}
.email button{
	height: 25px;
	width: 40px;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	color: seagreen;
}